body {
    height: 5000px;
    font-family: 'Tajawal', sans-serif;
}
:root {
    --main: #EDC870;
}
i {
    color: var(--main);
}
.box {
    --b:2px;   /* thickness of the border */
    --c:var(--main);   /* color of the border */
    --w:27px;  /* width of border */

    border:var(--b) solid transparent; /* space for the border */
    --g:#0000 90deg,var(--main) 0;
    background:
        /* conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0, */
        conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
        conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%;
        /* conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%; */
    background-size:var(--w) var(--w);
    background-origin:border-box;
    background-repeat:no-repeat;
    
    /*Irrelevant code*/  
    width:140px;
    height:70px;
    box-sizing:border-box;
    margin:5px;
    display:inline-flex;
    font-size:22px;
    justify-content:center;
    align-items:center;
    /* line-height:90px; */
}
.custom a {
    color: rgba(255, 255, 255, .5);
    display: inline-block;
    margin: 10px 15px;
    position: relative;
    text-decoration: none;
    padding: 10px 0 !important;
    font-size:22px;
}
.custom a:before
{
    content: attr(data-text);
    border-bottom: 3px solid var(--main);
    position: absolute;
    right: 0;
    bottom: -3px;
    color: var(--main) !important;
    white-space: nowrap;
    width: 0%;
    overflow: hidden;
    padding: 10px 0 !important;
    transition: .4s;
}
.custom a:hover:before
{
    width: 100%;
}
.custom a.active {
    content: attr(data-text);
    border-bottom: 3px solid var(--main);
    color: var(--main) !important;
    white-space: nowrap;
    overflow: hidden;
    padding: 7px 0 !important;
    transition: .4s;
}

.about {
    width: 100%;
    height: 500px;
    background-image: url('images/Capture.PNG');
    background-repeat: no-repeat;
    background-position: left center;
}
.about-inside {
    padding-top: 6%;
    width: 500px;
}
.about-btn {
    text-decoration: none;
    color: var(--main);
    border: 2px solid var(--main);
    padding: 8px 26px;
    border-radius: 10px;
}
.about-btn:hover {
    background:#fff;
    color: var(--main);
    transition: 0.5s;
}
.read-more {
    color: #413F41;
    text-decoration:none;
    transition: 0.4s;
}
.read-more:hover {
    color: var(--main);
    text-decoration:none
}
.class2 {
    width: 100%;
    height: 300px;
    background-image: url('images/2.PNG');
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width:567px) {
    .custom a {
        margin: 0;
        padding: 0 !important;
    }
    .custom a:before , .custom a.active {
        border-bottom: none;
        content: none;
    }
    .about-inside {
        padding-top: 20% !important;
        width: 100% !important;
    }
}