/* general style */
body {
    font-family: 'Tajawal', sans-serif;
    background-color: #f7f7f7;
    box-sizing: border-box;
}
:root {
    --main: #EDC870;
}
/* input {
    border: none;
    outline: none;
} */
::placeholder {
    color: #A7A7A7 !important;
    opacity: 1; /* Firefox */
}
i {
    color: var(--main);
}
/* general style */

/* start style for scroll */
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background-color: #222;
}
html::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 4px;
}
/* end style for scroll */

/* start style for main title */
.box {
    --b:2px;   /* thickness of the border */
    --c:var(--main);   /* color of the border */
    --w:27px;  /* width of border */

    border:var(--b) solid transparent; /* space for the border */
    --g:#0000 90deg,var(--main) 0;
    background:
        /* conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0, */
        conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
        conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%;
        /* conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%; */
    background-size:var(--w) var(--w);
    background-origin:border-box;
    background-repeat:no-repeat;
    
    /*Irrelevant code*/  
    width:140px;
    height:70px;
    box-sizing:border-box;
    margin:5px;
    display:inline-flex;
    font-size:22px;
    justify-content:center;
    align-items:center;
}
/* end style for main title */

/* start style for navbar */
.custom a {
    color: rgba(255, 255, 255, .5);
    display: inline-block;
    margin: 10px 15px;
    position: relative;
    text-decoration: none;
    padding: 10px 0 !important;
    font-size:22px;
}
.custom a:before
{
    content: attr(data-text);
    border-bottom: 3px solid var(--main);
    position: absolute;
    right: 0;
    bottom: -3px;
    color: var(--main) !important;
    white-space: nowrap;
    width: 0%;
    overflow: hidden;
    padding: 10px 0 !important;
    transition: .4s;
}
.custom a:hover:before
{
    width: 100%;
}
.custom a.active {
    content: attr(data-text);
    border-bottom: 3px solid var(--main);
    color: var(--main) !important;
    white-space: nowrap;
    overflow: hidden;
    padding: 7px 0 !important;
    transition: .4s;
}
/* end style for navbar */

/* start section about */
.about {
    width: 100%;
    height: 500px;
    background-image: url('images/about.PNG');
    background-repeat: no-repeat;
    background-position: left center;
}
.about-inside {
    padding-top: 6%;
    width: 500px;
}
.about-btn {
    text-decoration: none;
    color: var(--main);
    border: 2px solid var(--main);
    padding: 8px 26px;
    border-radius: 10px;
}
.about-btn:hover {
    background:#fff;
    color: var(--main);
    transition: 0.5s;
}
/* end section about */

/* start section about company */
.read-more {
    color: #413F41;
    text-decoration:none;
    transition: 0.4s;
}
.read-more:hover {
    color: var(--main);
    text-decoration:none
}
/* end section about company */

/* start our services */
.border-radius {
    border-radius: 60px 0;
}
.card-hover {
    background-color: #f7f7f7 !important;
    border: none;
    transition: 0.5s;
}
.card-hover:hover {
    background-color: #FFF !important;
}
/* end our services */

/* start get a consultation*/
.consultation {
    width: 100%;
    height: 210px;
    background-image: url('images/consultation.PNG');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}
/* end get a consultation */

/* start section our branches */
.image-branch {
    position: absolute;
    bottom: 0;
    border: 4px solid #fff;
    border-radius: 10px;
    border-bottom: none;
}
.image-right-first {
    right: 0;
    width: 30%;
    height: 30%;
    transition: 0.5s;
}
.image-right-first:hover , .image-left-first:hover{
    width: 100%;
    height: 100%;
}
.image-right-center {
    right: 0;
    width: 60%;
    height: 60%;
    transition: 0.5s;
}
.image-right-center:hover , .image-left-center:hover {
    width: 100%;
    height: 100%;
    z-index: 2;
}
.image-left-first {
    left: 0;
    width: 30%;
    height: 30%;
    transition: 0.5s;
}
.image-left-center {
    left: 0;
    width: 60%;
    height: 60%;
    transition: 0.5s;
}
.image-last {
    border-radius: 10px;
    position: relative;
}
.image-last:hover  {
    z-index: 3;
    transition: 0.5s;
}
/* end section our branches */

/* start section contact us */
.form-control:focus {
    border-color:var(--main) !important;
    box-shadow : 0 0 0 0.25rem rgba(237, 200, 112, 0.25) !important;
}
/* end section contact us */

/* start section contact us */
footer {
    width: 100%;
    height: 200px;
    background-image: url('./images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.social-menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 28px;
    width: 400px;
}
.social-menu i {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: 0.5s;
}
.social-menu i:hover {
    color: #ffffff;
}
.social-menu ul li a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0, 0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #25D366;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #FF0000;
}
/* end section contact us */

/* start scroll top */
.scroll-top
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main);
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    z-index: 999;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    display: none;
}
.scroll-top:hover 
{
    background:var(--main);
    box-shadow:none
}
/* end scroll top */

/* start media query */
@media (max-width:567px) {
    .custom a {
        margin: 0;
        padding: 0 !important;
    }
    .custom a:before , .custom a.active {
        border-bottom: none;
        content: none;
    }
    .about-inside {
        padding-top: 20% !important;
        width: 100% !important;
    }
    .image-right-center ,.image-right-first {
        right:0 !important
    }
    .image-left-center ,.image-left-first {
        left:0 !important
    }
}
/* end media query */
